<%= form_with(model: property) do |form| %>
  <% if property.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>
      <ul>
        <% property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :category_id, style: "display: block" %>
    <%= form.collection_select :category_id, Category.all, :id, :name, include_blank: true %>
  </div>
  <div>
    <%= form.label :feature_ids, style: "display: block", class: "form-group" %>
    <%= form.collection_check_boxes(:feature_ids, Feature.all, :id, :name) do |b| %>
      <div class="column is-3">
        <label for="" class= "checkbox">
          <%= b.label do %>
            <%= b.check_box + b.text %>
          <% end %>
        </label>
      </div>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
