<!DOCTYPE html>
<html>
  <head>
    <title>Casas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Proppiedades", properties_path %></li>
        <li><%= link_to "Nueva propiedad", new_property_path %></li>
      </ul>
      <ul>
        <% if user_signed_in? %>
          <li><%= button_to "Cerrar sesión", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Iniciar sesión", new_user_session_path %></li>
          <li><%= link_to "Registrarse", new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
